#slider_container_2{float:left;margin:0 0 0 0;padding:0;width:100%}
.SliderName_2{float:left;width:100%;height:566px;overflow:hidden}
.SliderNamePrev_2{background:url(images/left.png) no-repeat left center;width:50px;height:566px;display:block;position:absolute;top:0;left:0;text-decoration:none}
.c{clear:both}
.SliderNameNext_2{background:url(images/right.png) no-repeat right center;width:50px;height:566px;display:block;position:absolute;top:0;right:19px;text-decoration:none}
#SliderNameNavigation_2{margin:0;padding:10px 0 0 0;height:16px;text-align:center;overflow-y:hidden}
#SliderNameNavigation_2 a:link,#SliderNameNavigation_2 a:active,#SliderNameNavigation_2 a:visited,#SliderNameNavigation_2 a:hover{margin:0;padding:0;font-size:0;line-height:0;text-decoration:none}
/*#SliderNameNavigation_2 a img{border:none;width:16px;height:16px;background:url(images/bullet.png) no-repeat center center}
#SliderNameNavigation_2 a.active img{background:url(images/bullet_active.png) no-repeat center center}
*/